name: Release library

on:
  release:
    types: [created]

jobs:
  ci_release:
    uses: badisi/actions/.github/workflows/action.yml@v4
    with:
      lint: true
      test: true
      build: true
      release: true
